@font-face {
    font-family: Rossela;
    src: url("../Rossela-Demo.ttf");
    font-weight: normal;
    font-size: normal;
}

// resets
input {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    &:focus {
        outline: none;
    }
    &::placeholder {
        opacity: 1;
    }
}

.socials {
    font-size: 1.3em;
    li {
        padding-right: 1.5em;
    }
}

body {
    //TODO: salva i tre font in variabili
    // font-family: 'Playfair Display', sans-serif;
    font-family: "Roboto";
    // min-width: 900px;
    color: $color_1;
}
section {
    padding-top: 5em;
    padding-bottom: 5em;
}
.circle {
    border: 11px solid #ecc5ab;
    border-radius: 50%;
}
.btn {
    padding: 1.2em 3em;
    border-radius: 0.4em;
    display: inline-block;
    font-weight: bolder;
    font-size: 0.9em;
    &.solid {
        color: white;
        background-color: $secondary_color;
        &:hover {
            background-color: #81c3ed;
            color: white;
        }
    }
    &.light {
        background-color: #fef0ea;
        color: $secondary_color;
        &:hover {
            color: white;
            background-color: $secondary_color;
        }
    }
}
.super {
    color: $heading_color;
    font-size: 150% !important; //poi tolgo
    display: block;
    font-family: "Rossela", cursive;
}
.arrowed-link {
    &::after {
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        content: "\f061";
        padding-left: 1em;
    }
}
.section-header {
    padding-bottom: 1.1em;
    font-size: 2.1em;
    .super {
        color: $heading_color;
        font-size: 1.2em;
        padding-bottom: 0.2em;
        display: block;
        font-family: "Rossela", cursive;
    }
    .sub {
        color: black;
        display: block;
        font-family: "Roboto";
        color: $color_1;
    }
}
