// resets
input {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    &:focus {
        outline: none;
    }
    &::placeholder {
        opacity: 1;
    }
}

body {
    //TODO: salva i tre font in variabili
    font-family: 'Playfair Display', sans-serif;
    font-stretch: expanded;
    // font-family: 'Roboto'
}

.btn {
    padding: .6em 2em;
    border-radius: .4em;
    display: inline-block;
    &.solid {
        color: white;
        background-color: $secondary_color;
        
    }
}
.super {
    color: #69a0fd;
    display: block;
    font-family: cursive;
}
.section-header {
    padding-bottom: 1.1em;
    font-size: 2.1em;
    .super {
        color: #69a0fd;
        display: block;
        font-family: cursive;
    }
    .sub {
        color: black;
        display: block;
        font-family: 'Roboto';
        color: $color_1;
    }
}

