footer {
    padding-top: 6em;
    line-height: 2em;
    h4 {
        font-size: 1.1em
    }
    .insta {
        h4 {
            padding-bottom: 1.4em;
        }

        .ref {
            font-size: .8em;
            font-weight: 400;
            color: $secondary_color;
        }
        img {
            padding-right: 1.4em;
            max-width: 160px;
        }
    }
}
