header {
    .banner {
        padding-top: .4em;
        padding-bottom: .4em;
        background-color: #f5f5f5;
        .spot {
            color: #696969;
            font-size: .9em;
            font-weight: 400;
        }
        .counter {
            font-size: 1.2em;
            font-weight: bolder;
            padding-left: 2em;
            padding-right: 1.2em;
        }
        .btn {
            padding: .5em 2.8em;
        } ;
    }
    nav {
        padding-top: 1.6em;
        padding-bottom: 1.6em;
        color: #696969;
        .logo img {
            height: 1.6em;
        }
        .dropdowns {
            li {
                padding-right: 2.2em;
                i {
                    font-size: 0.7em;
                }
            }
        }
        .socials {
            font-size: 1.3em;
            li {
                padding-right: 1.5em;
            }
        }
    }
}
