.cont {
    position: relative;
    background-color: $main_bg;

}

.spot {
    position: absolute;
    fill: #b2e0f6;
    width: 481px;
    height: auto;
    bottom: 43px;
    left: -60px;
}
.jumbotron {
    height: 733px;
    position: relative;
    padding: 60px 147px;
    background-image:
        url('../img/artist-shape-02.png'), //macchia in alto a sx
        url('../img/artist-shape-03.png'), // puntini a sx
        url('../img/artist-hero-image-03.png'), // profilo
        url('../img/artist-shape-01.png'), // macchia a dx
        url('../img/maxcoach-shape-12.png'),
        url('../img/artist-shape-04.png'), // penna
        url('../img/artist-shape-05.png'); // schizzo
        // url('../img/spot.svg');

    background-position:
        0 0,
        20px 145px,
        30% 91%,
        88% top,
        82% 92%,
        91.3% 20%,
        93% 95%;
    background-size:
        40%,
        auto,
        auto,
        auto 86%,
        auto,
        130px,
        320px;
    background-repeat: no-repeat;
   
    img {
        box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
        width: auto;
        z-index: 1;
        display: block;
        max-height: 100%;
    }

    .left {
        width: 25%;
        position: relative;
        .small, .big {
            position: absolute;
        }
        .small {
            bottom: 0;
            z-index: 3;
        }
        .big {
            top: 34px;
            left: 187px;
        }
    }
    .center {
        flex-grow: 1;
        padding: 3em;
        z-index: 100;
        background-color: inherit;

        h1 {
            max-width: 80%;
            font-size: 2.4em;
            line-height: 130%;
        }
    }
    .right {
        width: 25%;
        position: relative;
        img {
            position: absolute;
            right: 89px;
            bottom: 0;
        }
    }


}

.coaching {
    width: 80%;
    background-image: url('../img/maxcoach-shape-14.png'); // linea
    background-position: 10% 0;
    background-repeat: no-repeat;
    margin: auto;
    li {
        width: 25%;
        &:nth-child(2n) {
            padding-top: 30px;
        }
        img {
            height: 5em;
            width: auto;
        }
    }
}
.goal {
    
    width: 80%;
    margin: auto;
    .quote {
        width: 50%;
        flex-shrink: 0;
        padding-right: 5em;
    }
}
.video {
    position: relative;
    z-index: 1;
    background-color: transparent;
    .vid-container {
        position: relative;
        width: 65%;
        margin: auto;
        .play {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            &:hover {
                cursor: pointer;
            }
        }
    }
}
.testimonials {
    .inner {
        width: 90%;
        margin: auto;
    }
    position: relative;
    .testimony {
        border-radius: 5px;
        line-height: 190%;
        background-color: white;
        padding-top: 37px;
        padding-bottom: 69px;
        padding-left: 45px;
        padding-right: 45px;
        width: calc(100%/3);
        opacity: 0.3;
        margin: 15px;
        &.active {
            opacity: 1;
        }
        .title {
            font-size: 1.3em;
            font-weight: 550;
            padding-bottom: .7em;
            line-height: 150%;
        }
        .quote {
            color: #696969;
            font-weight: 500;
            padding-bottom: 2.1em;
        }
        img {
            width: 15%;
            margin-right: 1.4em;
        }
        .name {
            color: $color_1;
            font-size: .9em;
            font-weight: bold;
        }
        .job {
            color: #696969;
            font-size: .95em;
        }
        .job::before {
            content: '/ '
        }
    }
    .dots {
        padding-top: 35px;
    }
    .dot {
        $dot_size: .5em;
        border-radius: 50%;
        height: $dot_size;
        width: $dot_size;
        background-color: #d8d8d8;
        margin: .7em;
        &.active {
            background-color: black;
            transform: scale(1.4);
        }
    }
    svg {
        position: absolute;
        background-color: $main_bg;
        height: 300px;
        width: auto;
        max-width: 100%;
        fill: white;
        top: -250px;
    }
  background: $main_bg;
}
.wrapper {
    position: relative;
    background: url('../img/artist-shape-01.png');
    background-position: -50% center;
    background-repeat: no-repeat;
}
.wrapper::after {
    @include aside-banner;
    transform-origin: top right;
    content: "Courses";
    right: 0;    
    bottom: 10%;
}
.courses-container {
    position: relative;
    width: 76%;
    margin: auto;
    .courses {
        padding-bottom: 1.3em;
    }
    .course {
        // background-color: white;
        padding: 15px;
        width: 25%;
        overflow: hidden;
        &:hover {
            .info-box {
                top: -2em;
                // test
                cursor: pointer;
                background-color: $text_color_3;
                box-shadow: 0 0 0 2px $secondary_color;
            }
        }

        .info-box {
            margin: 5px;
            margin-right: 10%;
            position: relative;
            padding: 1.4em;
            transition: position 2s;
            .price {
                color: $secondary_color;
                // font-family: serif;
                font-weight: 900;
                font-size: 1.1em;
                padding-bottom: .9em;
                &::before {
                    content: $cash;
                }
            }
            .title {
                font-size: 1.2em;
                line-height: 150%;
                font-weight: 500;
                padding-bottom: 1.1em;
            }
            .course-info {
                font-size: .9em;
                color: #7b7b7b;
            }
            .lessons::before, .students::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 400;
                padding-right: .6em;
            }
            .lessons::before {
                content: '\f15c';
            }
            .students::before {
                content: '\f007';
                padding-left: 1em;
            }
        }

    }
  

}

.events {
    position: relative;
    &::after {
        @include aside-banner;
        left: 0;
        top: 40px;
        transform-origin: bottom left;
        content: "Events";
    }
    ul {
        width: 65%;
        margin: auto;
        li {
            max-width: 50%;
            padding-right: 2em;
            padding-bottom: 4em;
            &:nth-child(n+3) {
                padding-bottom: 0;
                text-align: right;
                .event-description {
                    order: -1;
                }
            }
            .event-pic {
                flex-shrink: 0;
            }
            .event-description {
                padding: 3em;

                .when {
                    font-weight: 500;
                    color: $color_4;
                }
                .what {
                    color: $color_1;
                    font-size: 1.1em;
                    padding-top: 1em;
                    padding-bottom: 1.2em;

                }
                .where {
                    font-weight: 500;

                    font-size: .8em;
                    color: $color_4;
                }

            }
        }
       
    }
}
.blog-container {
    position: relative;
    background-color: $secondary_bg;
    $circle_h: 89px;
    .circle {
        position: absolute;
        left: 127px;
        top: 282px;
        height: $circle_h;
        width: $circle_h;
    }
    .spot {
        width: 230px;
        height: auto;
        left: 55%;
        bottom: 10%;
    }
}
.blog {
    padding-left: 20%;
    padding-right: 20%;
    position: relative;
    // background-color: $secondary_bg;
    background-image: url('../img/maxcoach-shape-03.png'),
    url('../img/maxcoach-shape-05-150x150.png');
    background-size: contain,
    auto;
    background-position: 30%,
    39% 24%;
    background-repeat: no-repeat;
    .left, .right {
        background-color: white;
        width: 22%;
    }
    .content {
        color: $color_4;
        padding: 2.1em 1em;
        padding-bottom: 2.1em;
        line-height: 200%;
        .artist {
            font-size: .9em;
            font-weight: 500;
        }
        h5 {
            font-size: 1.2em;
            color: $color_1;
            padding-bottom: 1em;
        }
        .date {
            padding-right: 1.3em;
        }
        .date, .views {
            font-size: .9em;
        }
    }
    .central {
        padding-left: 3.2em;
        padding-right: 3.2em;
        position: relative;
        color: white;
        margin: 30px;
        img {
            filter: brightness(80%);
        }
        .content {
            line-height: 300%;

            color: white;
            position: absolute;
            width: calc(100% - 6.4em);
            left: 4.2em;
            bottom: 1em;
            h5 {
                color: white;
                font-size: 2em;
            }
            div {
                font-weight: 500;
            }
        }
    }
    .right {
        margin-bottom: 10%;
    }
    .blog-link {
        padding-top: 5em;
        color: $color_4;
        a {
            color: $secondary_color;
            font-weight: bold;
            padding-bottom: .1em;
            border-bottom: 1px solid lightgray;
        }
    }
   
}

// section.newsletter
.newsletter {
    padding-top: 49px;
    padding-bottom: 65px;
    color: $text_color_3;
    font-weight: 500;
    background-color: $blue_c;
    background-image: url('../img/artist-shape-color-paint-top-left.png'), url('../img/artist-shape-color-paint-bottom-right.png');
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: auto 100%, auto 95%;
    .label {
        font-size: 2em;
        width: 8em;
        text-align: right;
    }
    .mail {
        margin-left: 5em;
        font-size: 1.4em;
        padding-bottom: .6em;
        border-bottom: 2px solid #5b71a4;
    }
}