$secondary_color: #ef6f31;
$cash: "$";
$blue_c: #224184; //rinomina!
$main_color: #c2944f;
$text_color_3: #ffffff;
$main_bg: #fbf9f6;
$secondary_bg: #f5f7fa;
$color_3: #bcbcbc;
$color_4: #797979;
$color_1: #333333;
$heading_color: #7ccbed;
